## Assignment 1

In [5]:
## Q1 Create one variable containing following type of data: (i) string (ii) list (iii) float (iv) tuple

In [1]:
a = 'Sanskruti Giri'
type(a)

str

In [2]:
l= [1,2,4,5,'This is a list',5 +6j,1.5]
type(l)

list

In [3]:
b = 3.55
type(b)

float

In [4]:
c = (1 ,2,3,4 ,'Sanskruti')
type(c)

tuple

In [6]:
##Q2. Given are some following variables containing data: (i) var1 = ‘ ‘ (ii) var2 = ‘[ DS , ML , Python]’ (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] (iv) var4 = 1. What will be the data type of the above given variable.

In [7]:
var1 = ''
type(var1)

str

In [8]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [9]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [10]:
 var4 = 1
 type(var4)

int

In [11]:
##Q3. Explain the use of the following operators using an example: (i) / (ii) % (iii) // (iv) **

In [12]:
10/5

2.0

In [14]:
100%3

1

In [15]:
1//5

0

In [16]:
2**2

4

In [17]:
2**3

8

In [18]:
##Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [20]:
l1 = [ 1,'Sanskruti',1.5,2.5454688,True,5+6j,7j,8,9,6]
for i in l1:
  print(i)
  v = type(i)
  print(v)

1
<class 'int'>
Sanskruti
<class 'str'>
1.5
<class 'float'>
2.5454688
<class 'float'>
True
<class 'bool'>
(5+6j)
<class 'complex'>
7j
<class 'complex'>
8
<class 'int'>
9
<class 'int'>
6
<class 'int'>

In [21]:
##Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [23]:
# Taking input of two numbers
A = int(input("Enter the first number: "))
B = int(input("Enter the second number: "))

count = 0 

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"{B} divides {A} {count} times.")
else:
    print(f"{B} does not divide {A} evenly.")

Enter the first number:  2
Enter the second number:  5

5 does not divide 2 evenly.

In [24]:
##Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [25]:
l3 = list(range(1,26)) 
print(l3)

for i in l3:
  
  if i % 3 == 0 :
    print(i,"Is divisibal by 3")
  else:
    print(i,"Is not divisiable by 3")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
1 Is not divisiable by 3
2 Is not divisiable by 3
3 Is divisibal by 3
4 Is not divisiable by 3
5 Is not divisiable by 3
6 Is divisibal by 3
7 Is not divisiable by 3
8 Is not divisiable by 3
9 Is divisibal by 3
10 Is not divisiable by 3
11 Is not divisiable by 3
12 Is divisibal by 3
13 Is not divisiable by 3
14 Is not divisiable by 3
15 Is divisibal by 3
16 Is not divisiable by 3
17 Is not divisiable by 3
18 Is divisibal by 3
19 Is not divisiable by 3
20 Is not divisiable by 3
21 Is divisibal by 3
22 Is not divisiable by 3
23 Is not divisiable by 3
24 Is divisibal by 3
25 Is not divisiable by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Ans. An immutable object is an object whose value cannot be changed once it is created. Any operation that appears to modify an immutable object actually creates a new object with the modified value. Examples of immutable data types in Python include integers, floats, complex numbers, strings, and tuples.

# Creating a tuple
my_tuple = (1, 2, 3)

# Trying to change the first element of the tuple
my_tuple[0] = 4  # This will raise a TypeError: 'tuple' object does not support item assignment

A mutable object, on the other hand, is an object whose value can be changed once it is created. Examples of mutable data types in Python include lists, dictionaries, and sets.

Here's an example to demonstrate the mutability of a list:

In [29]:
# Creating a list
my_list = [1, 2, 3]

# Changing the first element of the list
my_list[0] = 4

print(my_list)  # Output: [4, 2, 3]

[4, 2, 3]